<div class="flex h-full items-center justify-center dark:bg-gray-800">
  <div class="h-5/6 container mx-auto">
    <section class="h-full flex items-center justify-center bg-gray-50 max-h-screen dark:bg-gray-900">
      <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto  lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
          <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
          Hola, {{ profile().userId?.username }} - {{ profile().userId?.email }}
        </a>
        <div
          class="w-full bg-white rounded-lg shadow dark:border md:mt-0 max-w-3xl xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
              Datos De Perfil
            </h1>
            <div class="space-y-4 md:space-y-6" action="#">
              <div class="grid gap-4 mb-4 grid-cols-2">
                <div class="col-span-2 sm:col-span-1">
                  <label for="full_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Nombre Completo
                  </label>
                  <div
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                    {{ profile().full_name }}
                  </div>
                </div>
                <div class="col-span-2 sm:col-span-1">
                  <label for="cel_phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero de
                    Celular</label>
                  <div
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                    {{ profile().cel_phone }}
                  </div>
                </div>
              </div>
              <div class="grid gap-4 mb-4 grid-cols-3">
                <div class="col-span-2 sm:col-span-1">
                  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Fecha de Nacimiento
                  </label>
                  <div
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    {{ profile().date_of_birth | date: 'dd/MM/yyyy'}}
                  </div>
                </div>
                <div class="col-span-2 sm:col-span-1">
                  <label for="gender"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Genero</label>
                  <div id="gender" formControlName="gender"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    {{ profile().gender }}
                  </div>
                </div>
                <div class="col-span-2 sm:col-span-1">
                  <label for="levelexp" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nivel de
                    Experiencia</label>
                  <div
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    {{ profile().levelexp }}
                  </div>
                </div>
              </div>
              <div class="col-span-2">
                <label for="health_history" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notas
                  de Salud</label>
                <div rows="4"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  {{ profile().health_history }}
                </div>
              </div>
              <div class="grid gap-4 mb-4 grid-cols-2">
                <div class="col-span-2 sm:col-span-1">
                  <label for="gym-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">gimnasio al
                    que asiste</label>
                  <div
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    {{ profile().associated_gym?.name }}
                  </div>
                </div>
                <div class="col-span-2 sm:col-span-1">
                  <label for="gym-location"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">localizacion del
                    gimnasio</label>
                  <div
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                    {{ profile().associated_gym?.location }}
                  </div>
                </div>
              </div>
              <button type="button" (click)="openProfileForm(profile())"
                class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                Actualizar Perfil</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
